body {
  background: url(../images/marcus\ a\ destruição\ iminente.gif) no-repeat;
  background-size: 100%;
}


.god {
    color: white;
    text-shadow: 2px 2px 4px #fffb00;
}

.t1 {
    padding-top: 550px;
}