* {
    margin: 0px;
    scroll-behavior: smooth;
}

/* Configurações gerais para o corpo da página */
body {

    font-family: Trebuchet MS, sans-serif;
    /* Define a fonte do texto */
    background: url('../images/background\ da\ loja.jpg') no-repeat;
    /* Define a imagem de fundo */
    background-color: rgb(255, 255, 255);
    /* Define a cor de fundo */
    background-repeat: no-repeat;
    background-size: 100%;

}

.loja {
    padding: 100px;
}

.loja>img {
    box-shadow: 10px 10px 3px rgb(92, 109, 107);
    z-index: 0;
    max-width: 100%;
    height: auto;
    /* Mantenha a proporção da imagem */
}

.link1 {
    margin-left: 25px;
    margin-top: 300px;
    position: absolute;
    z-index: 1;
    /* Certifique-se de que o link esteja sobre a imagem */
    text-decoration: none;
    background-color: rgb(255, 153, 0);
    padding: 8px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 18%;
    box-shadow: 2px 2px 5px rgb(53, 41, 3);
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 2px solid #000000;
    box-shadow: 4px 5px 10px cornflowerblue;
}

.loja1:hover .dropdown-content1 {
    display: inline-block;
    margin-top: 145px;
    margin-left: -10px;
}

.link2 {
    margin-left: 150px;
    margin-top: 300px;
    position: absolute;
    z-index: 1;
    /* Certifique-se de que o link esteja sobre a imagem */
    text-decoration: none;
    background-color: rgb(255, 153, 0);
    padding: 8px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 18%;
    box-shadow: 2px 2px 5px rgb(53, 41, 3);
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 2px solid #000000;
    box-shadow: 4px 5px 10px cornflowerblue;
    margin-left: 150px;
}

.loja2:hover .dropdown-content2 {
    display: inline-block;
    margin-top: 145px;
    margin-left: 118px;
}

.link3 {
    margin-left: 275px;
    margin-top: 300px;
    position: absolute;
    z-index: 1;
    /* Certifique-se de que o link esteja sobre a imagem */
    text-decoration: none;
    background-color: rgb(255, 153, 0);
    padding: 8px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 18%;
    box-shadow: 2px 2px 5px rgb(53, 41, 3);
}

.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 2px solid #000000;
    box-shadow: 4px 5px 10px cornflowerblue;
    margin-left: 150px;
}

.loja3:hover .dropdown-content3 {
    display: inline-block;
    margin-top: 145px;
    margin-left: 242px;
}

.link4 {
    margin-left: 400px;
    margin-top: 300px;
    position: absolute;
    z-index: 1;
    /* Certifique-se de que o link esteja sobre a imagem */
    text-decoration: none;
    background-color: rgb(255, 153, 0);
    padding: 8px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 18%;
    box-shadow: 2px 2px 5px rgb(53, 41, 3);
}

.dropdown-content4 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 2px solid #000000;
    box-shadow: 4px 5px 10px cornflowerblue;
    margin-left: 150px;
}

.loja4:hover .dropdown-content4 {
    display: inline-block;
    margin-top: 145px;
    margin-left: 365px;
}

.email {
    position: absolute;
    z-index: 1;
    margin-top: 350px;
    margin-left: 110px;
}

.voltar {
    position: absolute;
    background-color: rgb(255, 153, 0);
    margin-left: -90px;
    margin-top: -70px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 18%;
    box-shadow: 2px 2px 8px rgb(102, 77, 7), 1px 1px 5px rgba(103, 129, 7, 0.473);
}

.voltar>a {
    text-decoration: none;
}

.desc {
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-family: Trebuchet MS, sans-serif;
    margin-top: -15px;
    text-transform: uppercase;
    font-weight: bold
}

/* Adicione regras de mídia query para responsividade */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .loja {
        padding: 20%;

    }

    .link1,
    .link2,
    .link3,
    .link4 {

        margin-top: 10px;
    }

    .email {
        display: none;
        /* Ocultar o elemento de e-mail */
    }

    .voltar {
        margin-top: 10px;
    }

    .menu-icon {
        display: block;
        /* Mostrar um ícone de menu */
    }

    .menu-active .link {
        display: block;
        /* Mostrar os links quando o menu está ativo */
    }
}